.header {
  height: 80px;
  background-color: white;
  padding: 17px 32px;
  z-index: 1;
  top: 0px;
  position: absolute; }
  .header__button {
    font-weight: 500;
    border: 1px solid #BD0F72;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #BD0F72 !important;
    padding: 10px 20px;
    margin-right: 32px; }
    .header__button img {
      margin-right: 13px; }
  .header__form {
    height: 36px;
    padding-left: 23px;
    border-left: 1px solid #E4E4E4; }
  .header__select {
    padding-right: 20px;
    border: none;
    color: #BD0F72;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    background-image: url(../img/select_arrow.svg);
    background-repeat: no-repeat;
    background-position: top 6px right 3px; }
    .header__select--country {
      color: white;
      width: 24px;
      margin-right: 20px; }
  .header--mr5 {
    margin-right: 5px; }
  .header__lang {
    color: #BD0F72; }
  .header__sticky {
    top: 0;
    left: 0px;
    right: 0px;
    position: fixed;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    background: #fff;
    z-index: 1030;
  }
.footer {
  height: 80px;
  background: #004D6C;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 32px 24px 32px 24px; }
  .footer__text {
    font-family: 'Proxima Nova light';
    color: white; }
  .footer a {
    color: white; }
    .footer a:active {
      color: white; }
    .footer a:hover {
      color: white; }

.underline {
  text-decoration: underline; }

@media (max-width: 1199px) {
  .sm-footer {
    flex-direction: column !important;
    justify-content: center !important; } }

@media (max-width: 1199px) {
  .sm-scr-dash {
    display: none; } }

.btn {
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease; }
  .btn--bg {
    width: 264px;
    height: 63px;
    font-size: 24px !important;
    line-height: 63px; }
  .btn--md {
    padding: 10px 32px; }
  .btn--main {
    padding: 10px 24px;
    display: flex;
    align-items: center;
    height: 100%; }
  .btn--square {
    width: 35px;
    padding: 11px; }
  .btn--resize {
    width: 12px;
    height: auto; }
  .btn__bdBlue {
    border-color: #00506d !important; }
  .btn__bdWhite {
    border: 1px solid #f1f1f1; }
  .btn--file {
    padding: 10px 24px; }
  .btn--pd {
    padding: 16px 48px; }
  @media (max-width: 991px) {
    .btn--sm-scr {
      font-size: 14px;
      padding: 10px 16px !important; } }
  @media (max-width: 1024px) {
    .btn--sm-scr {
      padding: 10px 24px; } }
  .btn__up-down {
    font-size: 16px !important;
    color: #004d6c !important;
    background: #fff !important;
    border: 1px solid #f1f1f1; }
    @media (max-width: 991px) {
      .btn__up-down {
        font-size: 14px !important; }
        .btn__up-down img {
          width: 16px;
          height: auto; } }
  .btn__add {
    background: #fff;
    border: 1px solid #f1f1f1; }
    @media (max-width: 1199px) {
      .btn__add img {
        width: 40px;
        height: auto; } }

.btn--pink {
  background-color: #bd0f72 !important;
  color: #fff !important;
  border: 1px solid #bd0f72 !important; }
  .btn--pink:hover {
    background: #fff !important;
    color: #bd0f72 !important; }

.btn--white {
  background-color: white !important;
  color: #bd0f72 !important;
  border: 1px solid #f1f1f1 !important; }
  .btn--white:hover {
    background: #bd0f72 !important;
    color: white !important; }

.btn--blue {
  background-color: #fff !important;
  color: #00506d !important;
  border: 1px solid #004d6c !important; }
  .btn--blue:hover {
    background: #00506d !important;
    color: #fff !important; }

@media (max-width: 1200px) {
  .btn-group-sm {
    display: flex !important;
    flex-direction: column !important; } }

@media (max-width: 1199px) {
  .btn-group-sm {
    display: none !important; } }

.nav {
  padding: 0;
  margin: 0; }

.nav-tabs .nav-item {
  list-style-type: none;
  border: 1px solid #F1F1F1; }

.nav-tabs .nav-link {
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 15px;
  text-align: center; }
  .nav-tabs .nav-link.active {
    border-bottom: 3px solid #BD0F72;
    color: #BD0F72;
    font-weight: bold;
    width: 100%; }
  @media (max-width: 1200px) {
    .nav-tabs .nav-link {
      font-size: 16px; } }

.nav-tabs a {
  color: #666666; }
  .nav-tabs a:active {
    color: #666666; }
  .nav-tabs a:visited {
    color: #666666; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.fade {
  opacity: 0;
  transition: opacity .15s linear; }
  .fade.show {
    opacity: 1; }

.topTab {
  border-bottom: 1px solid #F1F1F1;
  background-color: white; }

.form__label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #000000; }
  @media (max-width: 991px) {
    .form__label {
      font-size: 14px !important; } }

.form__control {
  background: #f8f8f8;
  font-size: 16px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  padding: 16px;
  width: 100%;
  position: relative; }
  @media (max-width: 1199px) {
    .form__control {
      padding: 8px; }
      .form__control::placeholder {
        font-size: 12px; } }

.form__valid {
  margin-top: 12px;
  font-size: 14px; }
  @media (max-width: 991px) {
    .form__valid {
      font-size: 12px !important;
      margin-top: 8px; } }

.form__horiLabel {
  color: #bd0f72;
  white-space: nowrap;
  margin-right: 16px;
  margin-top: 14px;
  margin-left: 2px; }
  @media (max-width: 991px) {
    .form__horiLabel {
      margin-right: 8px; } }

.form__delete {
  cursor: pointer;
  margin-left: 16px; }
  @media (max-width: 1199px) {
    .form__delete img {
      width: 16px;
      height: auto; } }

.form__inputPrepend .form__inputPreFirst {
  color: #bd0f72;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #f8f8f8;
  border: 1px solid #f1f1f1;
  padding: 11px 0 11px 17px;
  border-right: none; }

.form__inputPrepend .form__control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none; }

.form__rowNum {
  color: #000000;
  white-space: nowrap;
  align-self: center; }
  @media (max-width: 1199px) {
    .form__rowNum {
      font-size: 14px; } }

.form__txtCurrency {
  color: #bd0f72;
  text-transform: uppercase; }
  .form__txtCurrency::placeholder {
    color: #bd0f72;
    opacity: 1; }

.form__txtAmount {
  color: #bd0f72;
  font-weight: bold;
  text-align: right; }
  .form__txtAmount::placeholder {
    font-weight: normal; }

.form__phone {
  background-color: #fff !important;
  border: 1px solid #f1f1f1 !important; }
  @media (max-width: 1199px) {
    .form__phone {
      font-size: 14px; }
      .form__phone .flag-icon {
        width: 24px;
        height: auto; }
      .form__phone .dropdown-icon {
        width: 16px;
        height: auto; } }

.form__totalRight {
  padding-left: 56px; }
  @media (max-width: 991px) {
    .form__totalRight {
      padding-left: 24px; } }

select.form__control {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../img/select_arrow_main.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
  padding: 11px 40px 11px 17px;
  color: #666666; }

.topTab {
  border-bottom: 1px solid #F1F1F1;
  background-color: white; }

.content__title {
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  padding-top: 36px;
  padding-bottom: 10px; }

.content__frame {
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 4px; }

.content__topAmount {
  font-size: 16px;
  font-weight: bold;
  color: #343434;
  text-align: right;
  border-bottom: 1px solid #f1f1f1;
  padding: 27px 24px; }

.text-right {
  text-align: right; }

.mb-12 {
  margin-bottom: 12px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-114 {
  margin-bottom: 114px; }

.mr-10 {
  margin-right: 10px; }

.mr-24 {
  margin-right: 24px; }

.mt-34 {
  margin-top: 34px; }

.p-24 {
  padding: 24px; }

.br-bt {
  border-bottom: 1px solid #F1F1F1; }

.w-100 {
  width: 100%; }

/*# sourceMappingURL=po.css.map */
